<form #form=ngForm class="container">
  <h1 class="text-center">Centroid</h1>
  <h2 class="text-center mt-5">Add Centroid</h2>
  <div class="d-flex justify-content-center form-row mt-3">
    <div class="form-group me-2">
      <label class="">X</label>
      <input #xInput=ngModel [(ngModel)]="x" type="number" name="x" class="form-control" required>
      <div *ngIf="xInput.touched">
        <small *ngIf="xInput.errors?.['required']" class="text-danger small">Field is required</small>
      </div>
    </div>
    <div class="form-group">
      <label class="">Y</label>
      <input #yInput=ngModel [(ngModel)]="y" type="number" name="y" class="form-control" required>
      <div *ngIf="yInput.touched">
        <small *ngIf="yInput.errors?.['required']" class="text-danger small">Field is required</small>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button [disabled]="form.invalid" class="btn btn-primary me-2" (click)="addCentroid()">Add vector</button>
    <button (click)="calculateCentroid()" class="btn btn-danger">Calculate centroid</button>
  </div>


  <h2 class="h2 mt-5">Centroid</h2>
  <div class="d-flex flex-column mt-2">
    <p>x: {{centroidModel.x}}</p>
    <p>y: {{centroidModel.y}}</p>
  </div>

</form>
